body {
  scroll-behavior: smooth;
}

body {
  --bg-img: url('https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  --bg-color: #fefefe;
  --nav-bg-color: #fffffff2;
  --text-color: #272343;
  --btn-color: #ffab6f;
  --btn-active-color: #00adb5;
}

body.dark-mode {
  --bg-img: rgba(0, 0, 0, 0.6)
    url('https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
    no-repeat center center;
  --bg-color: #020202;
  --nav-bg-color: #1a1a1af2;
  --text-color: #fefefe;
  --btn-active-color: #00e4f0;
  #app {
    background-blend-mode: multiply;
  }
}

.logo {
  font-family: 'Nova Mono';
  font-size: 2rem;
  color: var(--text-color);
}

.avatar {
  width: 32px;
  height: 32px;
}

%glassBg {
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(1em);
  color: var(--text-color);
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.2);
  }
}

ion-icon {
  font-size: 1rem;
  color: var(--text-color);
}

.form-floating {
  color: var(--text-color);
}

.form-control {
  @extend %glassBg;
  border: none;
  color: var(--text-color);
  &:focus,
  &:hover,
  &:read-only {
    background: inherit;
  }
  &::placeholder {
    color: var(--text-color);
  }
}
